<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9,chrome=1" />
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=0">
  <meta name="author" content="盘州市教育大数据平台——校平台" />
  <meta name="keywords" content="盘州市教育大数据平台——校平台" />
  <meta name="description"
    content="盘州市教育大数据平台——校平台" />
  <title>盘州市教育大数据平台——校平台</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" href="favicon.ico">
  <script src="/1.0.0/gougouBridge.min.js"></script>
  <script src="https://reseval.gg66.cn/protocolcheck.js"></script>
</head>

<body>
  <div id="root"></div>
  <!--[if lt IE 10]>
  <style>
  #deprecated-browser{position:fixed;z-index:10000;top:0;left:0;bottom:0;right:0;width:100%;height:100%;background-color:#fff;text-align:center}#deprecated-browser
  h1{color:#000;font-size:30px;padding:20px 0 0;margin:10px 0 20px 0}#deprecated-browser
  h2{font-size:20px;color:#333}#deprecated-browser ul{display:inline-block;padding:24px 0}#deprecated-browser ul
  li{float:left;padding:20px}#deprecated-browser ul li
  a{width:100px;padding-top:110px;display:block;margin:auto;background:url(https://reseval.gg66.cn/o_1bdl9bg883fr13ah6ko17461v50j.png)
  no-repeat;color:#333}#deprecated-browser ul li a.browser-chrome{background-position:-550px 0}#deprecated-browser ul li
  a.browser-firefox{background-position:-440px 0}#deprecated-browser ul li a.browser-ie{background-position:-330px
  0}#deprecated-browser ul li a.browser-uc{background-position:0 0}#deprecated-browser ul li
  a.browser-360{background-position:-660px 0}#deprecated-browser ul li a.browser-sogou{background-position:-110px
  0}#deprecated-browser ul li a.browser-qq{background-position:-220px 0}
  </style>
<div id="deprecated-browser"><img src="https://reseval.gg66.cn/logo-gg-t.png" width="180" style="margin-top:50px" />
  <h1>您使用的浏览器过于陈旧</h1>
  <h2>建议使用以下浏览器</h2>
  <ul>
    <li><a class="browser-chrome" target="_blank" href="http://www.google.cn/intl/zh-CN/chrome/">Chrome</a></li>
    <li><a class="browser-firefox" target="_blank" href="http://www.firefox.com.cn/download/">火狐</a></li>
    <li><a class="browser-uc" target="_blank" href="http://pc.uc.cn">UC浏览器</a></li>
    <li><a class="browser-360" target="_blank" href="http://se.360.cn">360浏览器</a></li>
    <li><a class="browser-sogou" target="_blank" href="https://ie.sogou.com">搜狗浏览器</a></li>
    <li><a class="browser-qq" target="_blank" href="http://browser.qq.com">QQ浏览器</a>
  </ul>
  <h2>或者，您可以使用我们的APP</h2>
  <ul>
    <li><img src="https://reseval.gg66.cn/gougouAdCode.png"
        style="display: block; margin: 0 auto 20px auto;height:200px" /> 扫码下载Android客户端</li>
    <li><img src="https://reseval.gg66.cn/gougouIosCode.png"
        style="display: block; margin: 0 auto 20px auto;height:200px" /> 扫码下载IOS客户端</li>
  </ul>
</div>
  <![endif]-->
  <!-- <script src="https://www.yunpian.com/static/official/js/libs/riddler-sdk-0.2.2.js"></script> -->
  <div style="display:none"><script type="text/javascript" src="https://v1.cnzz.com/z_stat.php?id=1280089029&web_id=1280089029"></script></div>
  <script src="https://reseval.gg66.cn/TXLivePusher-1.0.2.min.js" charset="utf-8"></script>
</body>
<script src="https://reseval.gg66.cn/TcPlayer-2.4.1.js" charset="utf-8"></script>
</html>