#studentData {
  padding: 20px 120px;
  display: flex;
  min-height: calc('100vh - 245px');
  background-color: white;
  flex-direction: column;
}

.leftBlue {
    margin-top: 1.25rem;
    font-size: 1.125rem;
    color: #1677ff;
    /* 字体颜色为蓝色 */
    border-left: .3125rem solid #1677ff;
    /* 左边框颜色为蓝色，宽度为3px */
    padding-left: .625rem;
    /* 左边框与字体之间的距离为5px */
}

.submeun {
    font-size: 1.125rem;
    color: #1677ff;
    /* 字体颜色为蓝色 */
    border-left: .3125rem solid #1677ff;
    /* 左边框颜色为蓝色，宽度为3px */
    padding-left: .625rem;
    /* 左边框与字体之间的距离为5px */
}
