.template-rule {
  width: 100%;

  .template-rule-title {
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
  }

  .template-rule-area {
    width: 100%;
    min-height: 200px;
    border: 1px solid #d7d7d7;
    border-radius: 8px;

    .rule-config {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
      padding: 10px;
      margin-bottom: 10px;
      min-height: 50px;
      border-bottom: 1px solid #d7d7d7;
    }

    .question-area {
      display: flex;
      justify-content: space-between;
      padding: 15px 32px 0 32px;

      .question-example {
        display: flex;
        width: 100%;
        margin-right: 10px;
      }
    }

    .drag-table, .score-grid {
      width: 100%;
      padding: 0 15px;
    }

    .score-grid {
      display: flex;
      padding: 0 32px;
    }

    .answer-area {
      padding: 0 32px;
    }

    .drag-table {
      margin-bottom: 10px;
    }
  }
}