/**
*@Author:ChaiLong
*@Description:
*@Date:Created in  2020/9/2
*@Modified By:
* @updateAuthor: 张江
* @updateVersion: v1.0.1
* @updateDate: 2021年09月24日
* @description 更新描述:优化学生列表样式，添加动画效果；添加分数平铺样式
*/
@gridName: 50px;
@themeColor: #63a1ea;
@topicBroadBorderRadius: 8px 8px 0 0;

.Outlined(@animationName: transL) {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: absolute;
  // right: -30px;
  right: -16px;
  top: 50%;
  color: #999999;
  font-size: 32px;
  animation: @animationName 1.5s ease-in-out infinite alternate;
}

.correctJob {
  margin-top: 15px;
  padding: 15px 120px;
  background-color: white;
  height: calc(~'100vh - 205px');
  overflow-x: auto;
  display: flex;
  min-width: 1400px;

  .studentBox {
    display: flex;
    flex-direction: row;
    position: relative;

    .title {
      width: 60px;
      display: flex;
      flex: 1;
      writing-mode: vertical-lr;
      background-color: @themeColor;
      color: white;
      font-size: 25px;
      letter-spacing: 46px;
      justify-content: center;
      align-items: center;
    }

    .doubleLightOutlined {
      .Outlined(transL);

      @keyframes transL {
        0% {
          transform: translate(0, 0);
        }

        100% {
          transform: translate(16px, 0);
        }
      }
    }

    .doubleRightOutlined {
      .Outlined(transR);

      @keyframes transR {
        0% {
          transform: rotate(180deg) translate(0, 0);
          ;
        }

        100% {
          transform: rotate(180deg) translate(16px, 0);
        }
      }
    }


    .studentList {
      display: flex;
      flex-direction: column;
      border: solid 1px #d9d9d9;

      :global {
        .ant-input-search {
          border-radius: 17px;
        }
      }

      .searchStudent {
        display: flex;
        justify-content: center;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
      }

      .list {
        display: flex;
        flex-direction: column;
        padding: 10px 5px 5px 5px;
        overflow-y: auto;

        .student {
          display: flex;
          padding: 8px;
          justify-content: center;
          cursor: pointer;

          &>div {
            flex: 1;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            transition-delay: 50ms;
          }

          .lookReport {
            display: flex;
            justify-content: flex-end;
          }
        }

        .check {
          background-color: @themeColor;
          color: white;

          & a {
            color: white;
          }
        }
      }
    }

    @keyframes hideStudentList {
      0% {
        width: 212px;
      }

      100% {
        width: 0px;
      }
    }

    .studentList.hide {
      animation: hideStudentList .5s ease-in;
      animation-fill-mode: forwards;

      .searchStudent,
      .list {
        display: none;
      }
    }

    @keyframes showStudentList {
      0% {
        width: 80px;
      }

      100% {
        width: 212px;
      }
    }

    .studentList.show {
      animation: showStudentList .5s ease-in;
      animation-fill-mode: forwards;

      .searchStudent,
      .list {
        display: block;
        overflow-x: hidden;
      }
    }
  }

  .correctContent {
    display: flex;
    flex-direction: column;
    // margin-left: 45px;
    margin-left: 16px;
    flex: 1;
    box-shadow: 0 1px 18px #cecece;

    .title {
      display: flex;
      padding: 19px 25px;
      justify-content: space-between;
      background-color: @themeColor;
      color: white;
      font-size: 16px;

      .leftBox {
        display: flex;

        &>div:first-child {
          margin-right: 30px;
        }
      }
    }

    .correctBox {
      display: flex;
      padding: 10px 10px;
      justify-content: space-between;
      flex: 1;
      height: 0;

      .topicBox {
        display: flex;
        flex-direction: column;
        // padding: 0 12px;
        padding-left: 12px;
        padding-right: 6px;
        margin-right: 6px;
        overflow-y: scroll;
        flex: 1;
        height: 100%;

        &>.topic:not(:last-child) {
          margin-bottom: 15px;
        }
      }

      .topic {
        border-radius: 6px;
        border: 1px solid #cecece;
        box-shadow: 0 1px 18px #cecece;
        padding: 8px 20px;
        margin-right: 8px;

        &:hover {
          transform: translateY(-1px);
          box-shadow: 0 5px 10px 3px rgba(100, 162, 234, 0.5);
        }

        .unfoldShrink {
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;
        }

        .answerImg {
          display: flex;
          flex-direction: column;
          margin: 15px 0;
          width: 100%;

          & div:first-child {
            font-weight: bold;
            font-size: 16px
          }

          .studentAnswer {
            width: 100%;
            height: auto;
            background-size: cover;
          }
        }

        .element {
          display: block;
        }

        .offElement {
          display: none;
        }

        .AnswerBackBox {
          width: 100%;
          margin-top: 20px;
          padding-left: 15px;
          margin-bottom: 12px;
        }
      }

      .checkedTopic {
        border: 2px solid #32a0ff;
      }

      .cutBoard {
        display: flex;
        flex-direction: column;
        width: 240px;
        box-shadow: 0 1px 18px #cecece;
        border-radius: @topicBroadBorderRadius;

        .topicNum {
          padding: 10px;
          background-color: @themeColor;
          border-radius: @topicBroadBorderRadius;
          display: flex;
          justify-content: space-between;
          color: white;
          font-size: 15px;
          align-items: center;
          position: relative;

          .downOutlined {
            margin: 0 20px;
            font-size: 20px;
            transition: transform .5s ease-in-out;

            &:hover {
              transform: rotate(180deg);
            }

            &:hover+.num {
              max-height: 1000px;
              padding: 10px;
              border-bottom: 1px solid #d7d7d7;
            }
          }

          .num {
            display: grid;
            background-color: white;
            width: 300px;
            max-height: 0;
            position: absolute;
            top: 51px;
            right: 0;
            color: black;
            border-bottom: none;
            font-size: 16px;
            grid-template-columns: repeat(5, auto);
            justify-items: center;
            align-items: center;
            grid-row-gap: 10px;
            z-index: 10;
            transition: max-height .5s ease-in-out;
            overflow: hidden;

            &:hover {
              max-height: 1000px;
              padding: 10px;
              border-bottom: 1px solid #d7d7d7;
            }

            .grid {
              cursor: pointer;

              &>span {
                display: flex;
                box-sizing: border-box;
                width: 20px;
                height: 20px;
                line-height: 12px;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 5px 0;
              }

              .checkedTopic {
                border-radius: @gridName;
                border: 1px solid #32a0ff;
              }

              .gray {
                border-radius: @gridName;
                background-color: #9FA3A7;
                color: white;
              }

              .isCorrect {
                border-radius: @gridName;
                background-color: #32a0ff;
                color: white;
              }
            }
          }
        }

        .mark {
          // padding: 10px 20px;
          flex: 1;
          height: 0;
          overflow: scroll;

          .goal {
            padding: 10px;

            &>span {
              font-size: 16px;
            }

            :global {
              .ant-input-number {
                width: 130px;
              }
            }
          }

          .comment {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            height: 350px;

            &>textarea {
              resize: none;
              height: 100px !important;
              background-color: #f6f6f6;
              border: none;
            }

            .commentTitle {
              box-sizing: border-box;
              text-align: center;
              width: 100%;
              font-size: 16px;
              background-color: #f6f6f6;
              border-bottom: none;
            }
          }

          .numeric-array-box {
            padding: 0px 6px;
            padding-bottom: 10px;

            :global {
              .ant-btn {
                margin: 6px;
                //  margin-bottom: 6px;
                border-color: #1890ff;
                color: #1890ff;
              }

              .ant-btn-primary {
                color: #fff;
              }

              .ant-btn-primary[disabled] {
                background-color: #1890ff;
              }

              .ant-btn:hover{
                 color: #fff;
                 background-color: #1890ff;
              }

              .ant-btn[disabled]:hover{
                 color: #1890ff;
                 background-color: #f5f5f5;
              }
            }
          }
        }

        .btn {
          margin: 15px;
          margin-left: 10px;
          display: flex;
          flex-direction: column;

          .first {
            display: flex;
            justify-content: space-between;

            &>div {
              flex: 1;
              display: flex;
              color: #1f7ff7;

              :global {
                .ant-btn {
                  width: 90%;
                }
              }
            }

            &>div:nth-child(1) {
              justify-content: flex-start;
            }

            &>div:nth-child(2) {
              justify-content: flex-end;
            }
          }

          .last {
            margin-top: 12px;
            display: flex;
            justify-content: center;
            width: 100%;

            :global {
              .ant-btn {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
